@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

$background-dark: #1a1a1a;
$background-light: #2a2a2a;

$text-light: #f5f5f5;
$text-muted: #9a9a9a;

$primary-color: #ff8533;
$error-color: #ff4c4c;
$input-placeholder: #666666;

$primary-dark: #cc5f19;
$primary-light: #ffa366;
$border-radius: 15px;

* {
  box-sizing: border-box;
}

body, html {
  height: 100vh;
  width: 100vw;
  font-family: 'Noto Sans', sans-serif;
  background-color: $background-dark;
  color: $text-light;
  text-align: center;
}

.title {
  font-size: 5rem;
  color: $primary-dark;
  text-align: center;
  background-color: $background-light;
}

.link {
  color: $primary-color;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  transition: color 0.3s;

  &:hover {
    color: $primary-light;
  }
}

.mainFieldset {
  background-color: $background-light;
  border-radius: 10px;
  padding: 10px 30px;
  max-width: 30%;
  width: 100%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  margin: auto;
  aspect-ratio: 4/3;

  form {
    display: flex;
    flex-direction: column;
  }

  label {
    color: $text-light;
    font-weight: 600;
    margin: 1rem;
    font-size: 2rem;
  }

  input, .username {
    width: 100%;
    padding: 15px;
    background-color: $background-dark;
    border: 1px solid $text-muted;
    border-radius: 5px;
    color: $text-light;
    transition: border 0.3s;
    font-size: 1.5rem;

    &::placeholder {
      color: $input-placeholder;
    }

    &:focus {
      border-color: $primary-color;
      outline: none;
    }
  }

  .errorField {
    color: $error-color;
    font-size: 1rem;
    margin-top: 10px;
  }

  .mainButton {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: $primary-color;
    color: $text-light;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;

    &:hover {
      background-color: lighten($primary-color, 10%);
    }

    &:disabled {
      background-color: darken($primary-color, 10%);
      cursor: not-allowed;
    }

    &:active {
      transform: scale(0.98);
    }
  }

  .discordAuthButton {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background-color: #7289da;
    color: $text-light;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;

    &:hover {
      background-color: lighten(#7289da, 10%);
    }

    &:active {
      transform: scale(0.98);
    }
  }
}

p {
  font-size: 2rem;
}

@media (max-width: 1100px) {
  .mainFieldset {
    max-width: 50%;
    width: 100%;
    aspect-ratio: 4/3;
  }
  p {
    font-size: 2rem;
  }
}

@media (max-width: 900px) {
  .mainFieldset {
    max-width: 60%;
    width: 100%;
    aspect-ratio: 4/3;
  }
  p {
    font-size: 2rem;
  }
}

@media (max-width: 800px) {
  .mainFieldset {
    max-width: 70%;
    width: 100%;
    aspect-ratio: 4/3;
  }
  p {
    font-size: 2rem !important;
  }
}

@media (max-width: 700px) {
  .mainFieldset {
    max-width: 80%;
    width: 100%;
    aspect-ratio: 4/3;
  }
  p {
    font-size: 2rem !important;
  }
}

@media (max-width: 500px) {
  .mainFieldset {
    max-width: 100%;
    width: 100%;
    aspect-ratio: 4/3;
    padding: 10px 30px;
  }

  button {
    font-size: 0.8rem;
    padding: 6px 10px;
  }
}